* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

header {
  background: rgb(9, 9, 128);
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 40px;
  font-weight: 900;
}

main {
  height: 1500px;
}
.container {
  padding: 40px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.card,
.cardaula4 {
  border: solid black 1px;
  height: auto;
  width: 100%;
  max-width: 400px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.card h2 {
  padding: 15px;
  text-align: center;
  color: orange;
  font-weight: bold;
}

.card p {
  margin: 10px;
}

.ativo {
  background: rgb(189, 246, 250);
}

.cardaula4 h2 {
  padding: 10px;
  text-align: center;
  color: orange;
  font-weight: bold;
}

.cardaula4 p {
  margin: 10px;
}

/*AULA 5*/
.containercard {
  display: flex;
  justify-content: center;
}

#criarCard {
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  width: 300px;
  background: rgb(109, 190, 245);
}

#criarCard:hover {
  background: linear-gradient(to left, rgb(109, 190, 245), rgb(180, 222, 250));
  font-size: larger;
}

.containerAula5 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardNovo {
  padding: 15px;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}

.cliquecard {
  background-color: rgb(181, 250, 233);
}

.escondido {
  display: none;
  width: auto;
}

.containermenu {
  display: flex;
  gap: 20px;
}

.menuitem {
  display: flex;
  flex-direction: column;
}

.titleaula {
  display: flex;
  padding: 20px;
  color: orange;
  font-weight: bold;
  width: 100%;
  justify-content: center;
}

#btnFrutas,
#btnVerduras,
#btnCarnes,
#btnMolhos {
  padding: 5px;
  text-align: center;
  color: black;
  background-color: white;
  width: 100px;
  height: 50px;
  max-height: 80px;
  margin-left: 20px;
}

#listaFrutas,
#listaCarnes,
#listaVerduras,
#listaMolhos {
  margin-top: 10px;
  padding: 10px;
  height: 200px;
  margin-left: 20px;
}

footer {
  border-top: solid 5px orange;
  background: rgb(9, 9, 128);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  font-size: smaller;
  text-align: center;
  color: white;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
